
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    font-weight: 200;
    color: black;
}
h1{
    font-size: 48px;

}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.invite-btn{
  background-color: #4cd3c2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;

  
}
.invite-btn a{
color: white;
}
/* ## Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

*/
body{
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.logo{
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .row{
    background-color: hsl(0, 0%, 98%);

 }
 .hero{
     width: 80%;
     margin: 0 auto;
   }

.col-1-1{
    display: inline-block;
    width: 45%;
    vertical-align: top;

}
.col-1-1 h1{
padding: 90px 50px 40px 0px;
}
 
.col-1-1 p{
    padding: 66px 50px 40px 0px;
}
.col-1-1 a{
     color: white;
    background-color:hsl(136, 65%, 51%);
    padding: 10px;
    border-radius: 35px;
    width: 165px;


}
.col-1-2{
    display: inline-block;
    width: 23%;
} 
.products{
    width: 80%;
    margin: 0 auto;

}
.main{
    background-color: #f2f2f2;
    margin-top: -148px;
}
.services h2{
    padding: 66px 50px 20px 0px;
}
.services p{
    padding: 0px 50px 90px 0px;
    font-weight: 200;
    opacity: .7;

}
.col-1-2 h3{
padding: 15px 0 25px 0px;
font-weight: 100;
opacity:.8;
}
.col-1-2 p{
margin-bottom: 66px;
opacity: .6;
}
.articles{
    width: 80%;
    margin: 0 auto;
}
.articles h2{
    padding-top:66px 0px 66px 0px;
}
article img{
    width: 220px;
    height: 200px;
}

article{
    text-align: center;
    
}
 